*{ 
     font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    /* padding: 0px; */
}
/* ............................ Header ........................  */
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}
.brand-name a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 72px;
    color: #fff;
    position: relative;
    display: block;
}
header .navbar ul li a::before{
    content: '';
    height: 2px;
    background-color: #fff;
    width: 0px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    transition: 0.3s all;
}
header .navbar ul li a:hover::before{
    width: 100%;
}
header .navbar ul li a.active::before{
    width: 100%;}
/* ........................... Home...................  */

#home{
    background: url('/Images/home1.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 15px;
}
#home .full-screen{
    min-height: 100vh;
}
#home .home-content{
    flex: 0px 0px 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#home .home-content .block{
    padding-left:35px ;
    flex: 0px 0px 75%;
    width: 75%;
    border-left: 4px solid #fff;
}
#home .home-content .block h6{
    font-size: 18px;
    font-weight: 500px;
    color: #fff;
}
#home .home-content .block h1{
    font-size: 60px;
    font-weight: 600px;
    color: #fff;
    margin: 10px 0px;
    line-height: 1.2;
}
#home .home-content .block h3{
    color: #fff;
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 19px;
}
#home .home-content .block .cv-btn a{
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 24px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    transition: 0.5s all;
}
#home .home-content .block .cv-btn a:hover{
    color: #000;
    background-color: #fff;
}

/* ............About section............  */
#about{
    padding:100px 15px;
}
.section-title{
    flex: 0px 0px 100%;
    width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}
.section-title h1::before{
    content: '';
    height: 3px;
    left: 0px;
    right: 30%;
    bottom: 0px;
    position: absolute;
    background-color: #febd01;
}
.text-uppercase{
    text-transform: uppercase;
}

.section-title p{
    color: #838383;
    font-size: 15px;
    font-weight: 400px;
}
.about-content img{
    width: 100%;
}
#about .about-content{
    display: block;
    width: 37.33%;
    flex-basis: 33%;
}
#about .text{
    padding: 0px 20px;
    flex-basis: 62.33%;
    width: 62.33%;
}
.text h4{
    font-size: 25px;
    font-weight: 600px;
    margin: 0 0 5px;
}
.text h6{
    font-size: 18px;
    font-weight: 400px;
    margin: 0 0 10px;
}
.text h6 span{
    color: #febd01 ;
}
.text p{
    font-size: 15px;
    font-weight: 400;
    color: #838383;
}
.text .info{
    margin: 17px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text .list{
    margin:0 0 19px ;
    position: relative;
}
.text .list::after{
    content: '';
    height: 3px;
    position: absolute;
    width: 70%;
    background-color: #d3d3d3;

}
.social-links {
    margin: 9px 0 0;
    width: 230px;
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links .social{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: thistle;
    border: 1px solid white ;
    transition: 0.6s all;
}
.social-links .social:hover{
    border: 1px solid black;
    background-color: white;
}
.text-center{
    text-align: center;
}

/* .................................Services.....................  */
#services{ 
    background-color: #dbe8ff;
    padding: 50px 0px;}
#services .section-title h1::before{
    left: 30%;
}
.service-content .box{
    flex-basis: 32.33%;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 40px;
    position: relative;
}
.service-content .row{
    text-align: center;
    justify-content: space-between;
}
.box .icon{
    line-height: 73px;
    background-color: #febd01;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.box h5{
    font-size: 21px;
    margin: 10px 0px;
}

.service-content .box::before{
    content: '';
    height: 3px;
    left: 35%;
    right: 35%;
    bottom: 0px;
    position: absolute;
    background-color: #febd01;
    transition: 0.6s all;
}
.service-content .box:hover::before{
    content: '';
    height: 3px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.service-content .box p{
    font-size: 15px;
    font-weight: 400;
    color: #838383;
}
#skills .row{
    justify-content: space-between;
}
.skill-img{
    flex-basis: 15%;
}
.skilll{
    flex-basis: 49%;
}
.skills{
    padding: 20px 0px;
}
.skill-box label{
    position: relative;
}
.skill-box label::before{
    content: '';
    height: 3px;
    left: 0px;
    right: 35%;
    bottom: 0px;
    position: absolute;
    background-color: #febd01;
}
#skills{
    padding: 55px 0px;
}
.skill-bar .skill-bar-in{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
    background-color: #febd01;
}
.skill-bar .skill-bar-in span{
    position: absolute;
    right: 0px;
    bottom: 8px;
    color: #838383;
}
.skill-box h6{
    font-size: 22px;
}
.skill-bar{
    height: 3px;
    background-color: #d4d4d4 ;
    position: relative;
}
.skill-box{
    margin-bottom: 25px;
}
#skills .section-title p{
    margin-top: 16px;
}

#portfolio{
    background-color: #ffe4e4;
    padding: 100px 15px;
}
#portfolio .section-title h1::before{
    left: 20%;
    right: 20%;
}
.port-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.port-table img{
    width: 100%;
    height: 100%;
}